.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-image: var(--background-gradient), url('../assets/images/cabecero.jpg');
    color: var(--text-color-light);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.form input::placeholder,
.form select::placeholder,
.form textarea::placeholder {
    color: white;
    opacity: 1;
}


h3 {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-image: var(--background-gradient), url('../assets/images/cabecero.jpg');
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--input-bg);
    color: white;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    align-self: flex-start;
}

button:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: var(--secondary-color);
}

.error {
    color: var(--danger-color);
    text-align: center;
    margin-bottom: 15px;
}
